@font-face {
  font-family: 'space-grotesk';
  src: url('./fonts/space-grotesk.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'matrix';
  src: url('./fonts/matrix.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand';
  src: url('./fonts/quicksand.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sacramento';
  src: url('./fonts/sacramento.ttf');
  font-weight: normal;
  font-style: normal;
}